PORT=7000
NODE_ENV=development

MONGO_URI=your_mongo_connection_string
MONGO_DB_NAME=taksMangenmt

ACCESS_TOKEN_SECRET=replace_with_strong_secret
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_SECRET=replace_with_strong_secret
REFRESH_TOKEN_EXPIRY=7d

CRYPTO_SECRET=must_be_exactly_32_characters_lng
CRYPTO_IV=must_be_16_chars

CORS_ORIGIN=http://localhost:5173
